@import "admin-schools/admin-schools";
@import "admin-login/admin-login";

.admin-dash-container {
    width: $admin-container-width;
    @include margin($container-margin-top auto);
}

.label-help {
    color: grey;
    cursor: pointer;
    font-size: 20px !important;
}

.three.wide.field.essay-req-field {
    margin-top: 28px;
    margin-left: 25px;
}
