<div class="admin-dash-container">
    <div class="ui active inverted dimmer" ng-show="isLoading">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical fluid tabular menu">
                    <a ui-sref="adminStats" ui-sref-active="active" class="item">
                        Dashboard
                    </a>
                    <a ui-sref="adminSchools" ui-sref-active="active" class="item">
                        Schools
                    </a>
                    <a ui-sref="adminDeadlines" ui-sref-active="active" class="item">
                        Deadlines
                    </a>
                    <a ui-sref="adminRankings" ui-sref-active="active" class="item">
                        Rankings
                    </a>
                    <a ui-sref="import-content" ui-sref-active="active" class="item">
                        Import Schools
                    </a>
                </div>
                <button class="ui black button" ng-click="admindashboard.adminLogout()">Sign out</button>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui basic segment">
                    <div ui-view="adminContent" style="width: 108%"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script>
$('.ui.dropdown').dropdown();
</script>
