<div class="admin-login-container">
    <div class="ui stacked segment">
        <h4 class="ui header">Admin Login</h4>
        <form class="ui form">
            <div class="field">
                <label>Email</label>
                <input type="email" placeholder="Email" ng-model="adminLogin.email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" placeholder="Password" ng-model="adminLogin.password">
            </div>
            <button class="ui button" ng-click="adminLogin.authenticate()">Login</button>
        </form>
    </div>

</div>
