.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 0px;
    right: 21px;
    /* Each alert has its own width */
    float: right;
    clear: right;
}

.alert-red {
    color: white;
    background-color: #DA4453;
}
.alert-green {
    color: white;
    background-color: #37BC9B;
}
.alert-blue {
    color: white;
    background-color: #4A89DC;
}
.alert-yellow {
    color: white;
    background-color: #F6BB42;
}
.alert-orange {
    color:white;
    font-weight: bold;
    background-color: #E9573F;
}
