.customHeader {
    border-bottom: none !important;
}

.red {
    color: red !important;
}

.green {
    color: greenyellow !important;
}

.rankings-container {
    width: $container-width;
    @include margin($container-margin-top auto);
    table th {
        cursor: pointer !important;
    }
}
