<div class="rankings-container">
    <div class="ui active inverted dimmer" ng-show="rankings.isLoading">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui stacked segment">
        <!-- Search Query -->
        <h2 class="ui dividing header">
            <div class="content">
                Rankings
            </div>
        </h2>
        <div class="ui left icon fluid action input">
            <input type="text" placeholder="Search Universities by Name or Location" ng-model="rankings.searchQuery">
            <i class="search icon"></i>
            <button class="ui black button">Search</button>
        </div>
        <!-- Search Results -->
        <table class="ui grey selectable table">
            <thead>
                <tr>
                    <th class="eight wide" ng-click="rankings.sortType = 'school'; rankings.sortReverse = !rankings.sortReverse">
                        School
                        <span ng-show="rankings.sortType == 'school' && !rankings.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="rankings.sortType == 'school' && rankings.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th class="two wide center aligned" ng-click="rankings.sortType = 'ranking.financial_times.rank'; rankings.sortReverse = !rankings.sortReverse">
                        Financial Times
                        <span ng-show="rankings.sortType == 'ranking.financial_times.rank' && !rankings.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="rankings.sortType == 'ranking.financial_times.rank' && rankings.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th class="two wide center aligned" ng-click="rankings.sortType = 'ranking.business_week.rank'; rankings.sortReverse = !rankings.sortReverse">
                        Business Week
                        <span ng-show="rankings.sortType == 'ranking.business_week.rank' && !rankings.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="rankings.sortType == 'ranking.business_week.rank' && rankings.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th class="two wide center aligned" ng-click="rankings.sortType = 'ranking.economist.rank'; rankings.sortReverse = !rankings.sortReverse">
                        Economist
                        <span ng-show="rankings.sortType == 'ranking.economist.rank' && !rankings.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="rankings.sortType == 'ranking.economist.rank' && rankings.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th class="two wide center aligned" ng-click="rankings.sortType = 'ranking.us_news.rank'; rankings.sortReverse = !rankings.sortReverse">
                        US News
                        <span ng-show="rankings.sortType == 'ranking.us_news.rank' && !rankings.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="rankings.sortType == 'ranking.us_news.rank' && rankings.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="school in rankings.data | schoolSearchFilter: rankings.searchQuery | orderBy:rankings.sortType:rankings.sortReverse">
                    <td>
                        <h4 class="ui header">
                            <img src="{{school.icon}}" class="ui mini rounded image">

                            <div class="content">
                                {{school.school}}
                                <div class="sub header">{{school.state}}<span ng-show="school.state">,</span> {{school.country.name}}</div>
                            </div>
                        </h4>
                    </td>
                    <td class="center aligned">{{school.ranking.financial_times.rank}} <i class="chevron icon" ng-class="rankings.getRankStatus(school.ranking.financial_times.status)"></i></td>
                    <td class="center aligned">{{school.ranking.business_week.rank}} <i class="chevron icon" ng-class="rankings.getRankStatus(school.ranking.business_week.status)"></i></td>
                    <td class="center aligned">{{school.ranking.economist.rank}} <i class="chevron icon" ng-class="rankings.getRankStatus(school.ranking.economist.status)"></i></td>
                    <td class="center aligned">{{school.ranking.us_news.rank}} <i class="chevron icon" ng-class="rankings.getRankStatus(school.ranking.us_news.status)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
