<div class="ui stacked segment">
    <!-- Search Query -->
    <h2 class="ui dividing header">
        <div class="content">
            Rankings
        </div>
    </h2>
    <div class="ui left icon fluid action input">
        <input type="text" placeholder="Search Universities by Name or Location" ng-model="adminRankings.searchQuery">
        <i class="search icon"></i>
        <button class="ui black button">Search</button>
    </div>
    <!-- Search Results -->
    <table class="ui grey selectable table">
        <thead>
        <tr>
            <th class="eight wide">School</th>
            <th class="two wide">Financial</th>
            <th class="two wide">Business Week</th>
            <th class="two wide">Economist</th>
            <th class="two wide">US News</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="school in adminRankings.data | schoolSearchFilter: adminRankings.searchQuery">
            <td>
                <h4 class="ui header">
                    <img src="{{school.icon}}" class="ui mini rounded image">

                    <div class="content">
                        {{school.school}}
                        <div class="sub header">{{school.state}}<span ng-show="school.state">,</span> {{school.country.name}}</div>
                    </div>
                </h4>
            </td>
            <td>{{school.ranking.financial_times.rank}} <i class="chevron icon" ng-class="adminRankings.getRankStatus(school.ranking.financial_times.status)"></i></td>
            <td>{{school.ranking.business_week.rank}} <i class="chevron icon" ng-class="adminRankings.getRankStatus(school.ranking.business_week.status)"></i></td>
            <td>{{school.ranking.economist.rank}} <i class="chevron icon" ng-class="adminRankings.getRankStatus(school.ranking.economist.status)"></i></td>
            <td>{{school.ranking.us_news.rank}} <i class="chevron icon" ng-class="adminRankings.getRankStatus(school.ranking.us_news.status)"></i></td>
        </tr>
        </tbody>
    </table>
</div>
