<h2 class="ui dividing header">
<i class="bar chart icon"></i>
<div class="content">
    Dashboard
</div>
</h2>
<div class="ui two statistics">
    <div class="statistic">
        <div class="value">
            <i class="users icon"></i>
            6,000
        </div>
        <div class="label">
            REGISTERED USERS
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="file text outline icon"></i> 1,000
        </div>
        <div class="label">
            APPLICATIONS
        </div>
    </div>
</div>
<h3 class="ui header">TOP 5 SELECTED SCHOOL</h3>
<!-- Search Results -->
<table class="ui grey selectable table" >
    <thead>
        <tr>
            <th class="one wide"></th>
            <th class="seven wide">School</th>
            <th class="two wide">Applications</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="school in adminStats.topSchools | schoolSearchFilter: adminStats.searchQuery">
            <td>{{school.id}}</td>
            <td>
                <h4 class="ui header">
                <img ng-src="{{school.icon}}" class="ui mini rounded image">
                <div class="content">
                    {{school.school}}
                    <div class="sub header">{{school.address}}
                    </div>
                </div>
                </h4>
            </td>
            <td>{{school.applications}}</td>
        </tr>
    </tbody>
</table>
