.navigation {
	z-index: $nav-z-index;

  @include padding(4px null null null);

  .nav-container {
	width: 80%;
  }
}

.absolute-nav {
  position: absolute;
  width: 100%;
  @include clearfix;
}

a {
  height: 35px;
  margin-top: 5px;
}
