<div class="ui large secondary pointing menu navigation" ng-class="{'inverted absolute-nav': nav.isLandingPage()}">
    <a class="item" ng-class="{'active': nav.state.includes('landing-page')}" ui-sref-active="active" ui-sref="landing-page">Home</a>
    <a class="item" ui-sref-active="active" ng-show="authorized" ui-sref="dashboard">Dashboard</a>
    <a class="item" ui-sref-active="active" ui-sref="deadlines">Deadlines</a>
    <a class="item" ui-sref-active="active" ui-sref="rankings">Rankings</a>

    <div class="right menu">
        <a class="ui image label" ng-show="authorized" ui-sref="userProfile">
            <img src="images/mascot.jpg">
            Profile
        </a>

        <a class="ui small button" ui-sref="login" ng-show="!authorized" ng-class="{'inverted': nav.isLandingPage()}">Login</a>
        <a class="ui small button" ui-sref="signup"  ng-show="!authorized" ng-class="{'inverted': nav.isLandingPage()}">Signup</a>

        <a class="ui small button" ng-click="nav.signout()"  ng-show="authorized" ng-class="{'inverted': nav.isLandingPage()}">Signout</a>
    </div>
</div>
