<div class="ui stacked segment">
    <!-- Search Query -->
    <h2 class="ui dividing header">
        <div class="content">
            Deadlines
        </div>
    </h2>
    <div class="ui left icon fluid action input">
        <input type="text" placeholder="Search Universities by Name or Location" ng-model="aDeadlines.searchQuery">
        <i class="search icon"></i>
        <button class="ui black button">Search</button>
    </div>
    <!-- Search Results -->
    <table class="ui grey selectable table">
        <thead>
        <tr>
            <th class="eight wide">School</th>
            <th class="two wide center aligned">Early</th>
            <th class="two wide center aligned">Round 1</th>
            <th class="two wide center aligned">Round 2</th>
            <th class="two wide center aligned">Round 3</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="deadline in aDeadlines.data | schoolSearchFilter: aDeadlines.searchQuery">
            <td>
                <h4 class="ui header">
                    <img ng-src="{{deadline.icon}}" class="ui mini rounded image">

                    <div class="content">
                        {{deadline.school}}
                        <div class="sub header">{{deadline.state}}<span ng-show="deadline.state">,</span> {{deadline.country.name}}</div>
                    </div>
                </h4>
            </td>
            <td class="center aligned">{{deadline.roundOne.deadline | tzDate:$root.tz}}</td>
            <td class="center aligned">{{deadline.roundTwo.deadline | tzDate:$root.tz}}</td>
            <td class="center aligned">{{deadline.roundThree.deadline | tzDate:$root.tz}}</td>
            <td class="center aligned">{{deadline.roundFour.deadline | tzDate:$root.tz}}</td>
        </tr>
        </tbody>
    </table>
</div>
