.dim {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	background: rgba(34,36,38,0.5);
}

.hero-unit {
	background: $landing-page-background;
	background-size:cover;
	text-align: center;
	width: 100%;
	height: 100%;

	.hero-content {
		@extend %hero-content-position;
		width: $hero-content-width;
		height: $hero-content-height;
		color: $hero-content-text-color;
	}

	.title {
		font-family: $roboto-slab;
		font-size: $title-size;
		height: $title-size - 10;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	}
	.search-box .input {
		width: 40%;
	}
	.action-buttons {
		@include margin(10px);
	}
}

.home-footer {
    height: $footer-height;
    min-height: 100px;
    width :100%;
    color: white;
    font-size: 15px;
    background-color: $footer-background;
    @include position(absolute, null null 0px null);

    text-align: center;
    @include padding(2% 10% 1%);

    .social-icons a {
        color: white;
        &:visited {
            color: white;
        }
        &:hover {
            color: #3498db;
        }
    }
}