<div class="dim"></div>
<div class="ui hero-unit">
    <div class="hero-content">
        <div class="title">MBA Deadlines</div>
        <!-- <div class="search-box">
            <div class="ui action input">
                <input type="text" placeholder="Search...">
                <button class="ui button" ui-sref="dash">Search</button>
            </div>
        </div> -->
        <div class="action-buttons">
            <button class="ui primary button" ng-click="LP.launchModal()">How it Works</button>
            <button class="ui button" ui-sref="signup" ng-hide="authorized">Signup</button>
        </div>
    </div>
</div>

<div class="home-footer">
    <i class="copyright icon"></i>2015 MBA Deadlines <br/>
    All Rights Reserved

    <div class="ui divider"></div>

    <div class="social-icons">
        <h3 class="social-heading">Find Us On</h3>

        <a href="http://fb.com"><i class="large facebook square icon"></i></a>
        <a href="http://twitter.com"><i class="large twitter square icon"></i></a>
        <a href="http://instagram.com"><i class="large instagram icon"></i></a>
        <a href="http://linkedin.com"><i class="large linkedin square icon"></i></a>

    </div>
</div>

<div class="how-it-works ui modal">
    <i class="close icon"></i>
    <div class="header">
        How it Works
    </div>
    <div class="content">
        <div class="ui three steps">
            <div class="step">
                <i class="find icon"></i>
                <div class="content">
                    <div class="title">Find School</div>
                    <div class="description">Search for your desired Institution</div>
                </div>
            </div>
            <div class="step">
                <i class="add user icon"></i>
                <div class="content">
                    <div class="title">Get Registered</div>
                    <div class="description">Create your account</div>
                </div>
            </div>
            <div class="step">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Manage Deadlines</div>
                    <div class="description">Keep yourself up to date with deadlines</div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui black deny button">
            Back
        </button>
        <a class="ui positive right labeled icon button" ui-sref="signup" ng-hide="authorized">
            Signup
            <i class="checkmark icon"></i>
        </a>
    </div>
</div>
