.dashboard-container {
    width: $container-width;
    @include margin($container-margin-top auto);
}

.dash-add-school {
    @include padding(10px);
}

.class-profile-error {
    color: brown;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 40%;
    width: 300px;
}

.actions {
    font-size: 1.5em;

    .action-group {
        float: right;
    }

    i {
        @include padding(2px 2px);
        @include margin(null 5px);
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
            animation: transformation;
            animation-duration: 0.3s;
        }
    }
}

@keyframes transformation {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

.essay {
    margin: 15px 10px 30px;
    height: 300px;

    .body {
        height: 250px;
        border: 1px solid lightgray;
        position: relative;

        .word-count {
            position: absolute;
            bottom: -25px;
        }
    }
    .required {
        font-size: 22px;
        color: red;
    }
    .subtitle {
        color: grey;
        font-size: 12px;
    }
    .advanced-wrapper {
        height: 200px;
    }
    .editor-container {
        border-top: 1px solid lightgray;
    }
    .action-area {
        margin: 10px;
        float: right;
    }
    .clear-fix {
        clear: both;
    }
}
