<div class="dashboard-container">
    <div class="ui active inverted dimmer" ng-show="dashboard.isLoading">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui stacked segment">
        <h2 class="ui dividing header">
            <i class="left floated lab icon"></i>

            <div class="content">
                Dashboard
                <button class="ui tiny right floated button" ng-click="dashboard.addSchool()">Add Now?</button>
            </div>
        </h2>

        <div class="ui teal message" ng-show="dashboard.isSchoolListEmpty()">
            <div class="header">
                No Data Available
            </div>
            <p>
                You've not added any school to bookmarks yet &nbsp
                <button class="ui tiny black button" ng-click="dashboard.addSchool()">Add Now?</button>
            </p>
        </div>

        <!-- Search Results -->
        <table class="ui grey selectable table" ng-hide="dashboard.isSchoolListEmpty()">
            <thead>
            <tr>
                <th class="five wide" ng-click="dashboard.sortType = 'school'; dashboard.sortReverse = !dashboard.sortReverse">
                    School
                    <span ng-show="dashboard.sortType == 'school' && !dashboard.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="dashboard.sortType == 'school' && dashboard.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="one wide">
                    Round
                </th>
                <th class="three wide right aligned" ng-click="dashboard.sortType = 'selectedRound.deadline'; dashboard.sortReverse = !dashboard.sortReverse">
                    Deadline
                    <span ng-show="dashboard.sortType == 'selectedRound.deadline' && !dashboard.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="dashboard.sortType == 'selectedRound.deadline' && dashboard.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="three wide right aligned" ng-click="dashboard.sortType = 'selectedRound.notification'; dashboard.sortReverse = !dashboard.sortReverse">
                    Notification Date
                    <span ng-show="dashboard.sortType == 'selectedRound.notification' && !dashboard.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="dashboard.sortType == 'selectedRound.notification' && dashboard.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="four wide"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="school in dashboard.bookmarkedSchools | orderBy:dashboard.sortType:dashboard.sortReverse" repeat-end>
                <td>
                    <h4 class="ui header">
                        <img ng-src="{{school.icon}}" class="ui mini rounded image">

                        <div class="content">
                            {{school.school}}
                            <div class="sub header">{{school.address}}</div>
                        </div>
                    </h4>
                </td>
                <td> R{{school.selectedRound.round}} </td>
                <td class="right aligned">{{school.selectedRound.deadline | tzDate:$root.tz }}</td>
                <td class="right aligned">{{school.selectedRound.notification | tzDate:$root.tz}}</td>
                <td class="actions">
                    <div class="action-group">
                        <a><i ng-click="dashboard.getClassProfile(school.class_profile)" class="trophy black icon"></i></a>
                        <a ui-sref="user-essay({'b_id': school._id, 's_id': school.school_id})"><i class="write black icon"></i></a>
                        <a href="{{school.site}}" target="_blank"><i class="newspaper black icon"></i></a>
                        <a href="{{school.site}}" target="_blank"><i class="world black icon"></i></a>
                        <a><i ng-click="dashboard.deleteBookmark(school._id)" class="remove red icon"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- add school modal -->
<div class="dash-add-school ui coupled modal">

    <!-- First Modal -->
    <div class="dash-search-school ui first modal">
        <h2 class="header">Select School</h2>

        <div class="content">
            <div class="school-list ui fluid search selection dropdown">
                <input type="hidden">
                <i class="dropdown icon"></i>

                <div class="default text">Select School</div>

                <div class="menu">
                    <div class="item" ng-class="{'disabled': dashboard.bookmarked(school)}" data-value="{{school}}" ng-repeat="school in dashboard.allSchools">
                        <img class="ui mini avatar image" ng-src="{{school.icon}}">
                        {{school.school}} <i class="green check circle outline icon" ng-show="dashboard.bookmarked(school)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions">
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui teal right labeled icon ok button proceed">
                Proceed
                <i class="right arrow icon"></i>
            </div>
        </div>
    </div>

    <!-- Second Modal -->
    <div class="dash-select-session ui second large modal">
        <h2 class="ui header">
            <img ng-src="{{dashboard.selectedSchool.icon}}">

            <div class="content">
                {{dashboard.selectedSchool.school}}
                <div class="sub header">{{dashboard.selectedSchool.address}}</div>
            </div>
        </h2>
        <div class="content">

            <div class="description">
                <div class="ui four cards">

                    <div class="card">
                        <div class="content">
                            <div class="header">Round 1</div>
                            <div class="description">
                                {{dashboard.selectedSchool.roundOne.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                            </div>
                        </div>
                        <div class="ui bottom attached button" ng-click="dashboard.selectRound(1)" ng-class="{'positive': dashboard.isSelected(1)}">
                            <i class="icon" ng-class="{'bookmark': !dashboard.isSelected(1), 'checkmark': dashboard.isSelected(1)}"></i>
                            Add to Watch List
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Round 2</div>
                            <div class="description">
                                {{dashboard.selectedSchool.roundTwo.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                            </div>
                        </div>
                        <div class="ui bottom attached button" ng-click="dashboard.selectRound(2)" ng-class="{'positive': dashboard.isSelected(2)}">
                            <i class="icon" ng-class="{'bookmark': !dashboard.isSelected(2), 'checkmark': dashboard.isSelected(2)}"></i>
                            Add to Watch List
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Round 3</div>
                            <div class="description">
                                {{dashboard.selectedSchool.roundThree.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                            </div>
                        </div>
                        <div class="ui bottom attached button" ng-click="dashboard.selectRound(3)" ng-class="{'positive': dashboard.isSelected(3)}">
                            <i class="icon" ng-class="{'bookmark': !dashboard.isSelected(3), 'checkmark': dashboard.isSelected(3)}"></i>
                            Add to Watch List
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Round 4</div>
                            <div class="description">
                                {{dashboard.selectedSchool.roundFour.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                            </div>
                        </div>
                        <div class="ui bottom attached button" ng-click="dashboard.selectRound(4)" ng-class="{'positive': dashboard.isSelected(4)}">
                            <i class="icon" ng-class="{'bookmark': !dashboard.isSelected(4), 'checkmark': dashboard.isSelected(4)}"></i>
                            Add to Watch List
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui positive right labeled icon button" ng-class="{'disabled': !dashboard.selectedRound}">
                Add
                <i class="add icon"></i>
            </div>
        </div>
    </div>
</div>
<!-- add school modal end -->

<!-- class profile modal -->
<div class="class-profile ui small modal">

    <div class="header">Class Profile</div>

    <div class="content">
        <div ng-show="dashboard.classProfile.length == 0" class="class-profile-error">No Class Profile found</div>
        <table class="ui compact table" ng-show="dashboard.classProfile.length > 0">
            <tbody>
                <tr ng-repeat="cp in dashboard.classProfile">
                    <td><b>{{cp.name}}</b></td>
                    <td>{{cp.value}}</td>
                    <td>{{cp.percentage}}<span ng-show="cp.percentage">%</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            Close
        </div>
    </div>
</div>
<!-- Class profile modal end -->


<!-- Delete Modal -->
<div class="delete-modal ui small modal">
    <div class="header">
        Delete Bookmark
    </div>
    <div class="content">
        <p>Are you sure you want to delete your Bookmark?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- delete modal end -->

<!-- Edit Modal -->
<div class="edit-modal ui modal">
    <div class="header">
        Add Essay
    </div>
    <div class="content">

        <div class="essay ui styled fluid accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                Your favorite Actor
            </div>
            <div class="content active">
                <div class="transition visible" style="display: block !important;">
                    <textarea id="essay1_editor" placeholder="Enter 300 to 400 lines of essay" autofocus></textarea>
                </div>
            </div>

            <div class="title">
                <i class="dropdown icon"></i>
                What kinds of dogs are there?
            </div>
            <div class="content">
                <div class="transition hidden">
                    <textarea id="essay2_editor" placeholder="Enter 300 to 400 lines of essay" autofocus></textarea>
                </div>
            </div>

            <div class="title">
                <i class="dropdown icon"></i>
                How do you acquire a dog?
            </div>
            <div class="content">
                <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>

                <div class="transition hidden">
                    <textarea id="essay3_editor" placeholder="Enter 300 to 400 lines of essay" autofocus></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- Edit Modal end -->
