<div class="login-container">

    <h1 class="ui header">
        <i class="sign in icon"></i>
        <div class="content">
            Login
        </div>
    </h1>

    <form class="ui large form" ng-submit="login.auth()">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="E-mail address" ng-model="login.email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" ng-model="login.password">
                </div>
            </div>

            <!--<div class="field">-->
                <!--<div class="ui checkbox">-->
                    <!--<input ng-model="login.rememberFlag" type="checkbox" name="remember" tabindex="0" class="hidden">-->
                    <!--<label>Remember Me</label>-->
                <!--</div>-->
            <!--</div>-->

            <div class="ui fluid buttons">
                <button class="ui button">Forgot Password</button>
                <div class="or"></div>
                <button class="ui teal button" type="submit">Login</button>
            </div>

        </div>

        <div class="ui error message"></div>

    </form>

    <!--<div class="ui horizontal divider">-->
        <!--Or-->
    <!--</div>-->
    <!--<div class="ui segment">-->
        <!--<button class="ui fluid large facebook button">-->
            <!--<i class="facebook icon"></i>-->
            <!--Login with Facebook-->
        <!--</button>-->
        <!--<br/>-->
        <!--<button class="ui fluid large google plus button">-->
            <!--<i class="google plus icon"></i>-->
            <!--Login with Google Plus-->
        <!--</button>-->
    <!--</div>-->
</div>

<script>
    $('.ui.checkbox').checkbox();
</script>
