// Style Configurations
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

// Fonts
$roboto-slab: 'Roboto Slab', serif;
// HERO UNIT
$landing-page-background: url("../images/hero-unit.jpg");
$hero-content-width: 100%;
$hero-content-height: 30%;
$hero-content-text-color: white;

%hero-content-position {
	@include position(absolute, 35% null null null);
}

$title-size: 50px;
$search-box-width: 40%;
$search-box-width-mobile: 80%;

// Home Footer
$footer-height: 23%;
$footer-background: rgba(35, 35, 35, 0.9);

// Navigation
$nav-z-index: 100;

// Layout
$container-width: 85%;
$container-margin-top: 25px;

// Admin Dashboard
$admin-container-width: 82%;
