@import "assets/plugins/bourbon/bourbon";
@import "assets/plugins/neat/neat";

@import "config";

@import "shared/navigation/nav";
@import "components/landing-page/landing-page";
@import "components/dashboard/dashboard";
@import "components/deadlines/deadlines";
@import "components/rankings/rankings";
@import "components/login/auth";
@import "components/signup/signup";
@import "shared/alert-notifier/ohsnap";
@import "components/admin-dashboard/admin-dashboard";
@import "components/user-profile/user-profile.scss";

@import "shared/datepicker-styles";

section.tzPickerSection {
    position: absolute;
    top: 78px;
    z-index: 2;
    right: 9%;
    .ui.selection.dropdown {
        width: 320px !important;
    }
}
