.vis-hidden{
  visibility: hidden !important;
}
.dialogContainer{
  width: 700px !important;
}
.ngdialog.dialogwidth640 .ngdialog-content {
  width : 640px !important;
}


.deadlines-container {
    width: $container-width;
    @include margin($container-margin-top auto);

    table th {
        cursor: pointer !important;
    }
}

.search-filter {
    float: right;
    @include margin(null null null 10px);
    width: 160px;
}
