<div class="deadlines-container">
    <div class="ui active inverted dimmer" ng-show="deadlines.isLoading">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui stacked segment">

        <!-- Search Query -->
        <h2 class="ui dividing header">
            <i class="calendar outline icon"></i>

            <div class="content">
                Deadlines
            </div>
        </h2>

        <div class="ui left icon fluid action input">
            <input type="text" placeholder="Search Universities by Name or Location" ng-model="deadlines.searchQuery">
            <i class="search icon"></i>
            <button class="ui black button">Search</button>
        </div>


        <!-- Search Results -->
        <table class="ui grey selectable table">
            <thead>
            <tr>
                <th class="four wide" ng-click="deadlines.sortType = 'school'; deadlines.sortReverse = !deadlines.sortReverse">
                    School
                    <span ng-show="deadlines.sortType == 'school' && !deadlines.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="deadlines.sortType == 'school' && deadlines.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="three wide" ng-click="deadlines.sortType = 'roundOne.deadline'; deadlines.sortReverse = !deadlines.sortReverse">
                    Early
                    <span ng-show="deadlines.sortType == 'roundOne.deadline' && !deadlines.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="deadlines.sortType == 'roundOne.deadline' && deadlines.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="three wide" ng-click="deadlines.sortType = 'roundTwo.deadline'; deadlines.sortReverse = !deadlines.sortReverse">
                    Round 1
                    <span ng-show="deadlines.sortType == 'roundTwo.deadline' && !deadlines.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="deadlines.sortType == 'roundTwo.deadline' && deadlines.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="three wide" ng-click="deadlines.sortType = 'roundThree.deadline'; deadlines.sortReverse = !deadlines.sortReverse">
                    Round 2
                    <span ng-show="deadlines.sortType == 'roundThree.deadline' && !deadlines.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="deadlines.sortType == 'roundThree.deadline' && deadlines.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="three wide" ng-click="deadlines.sortType = 'roundFour.deadline'; deadlines.sortReverse = !deadlines.sortReverse">
                    Round 3
                    <span ng-show="deadlines.sortType == 'roundFour.deadline' && !deadlines.sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="deadlines.sortType == 'roundFour.deadline' && deadlines.sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th class="one wide"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="deadline in deadlines.data | schoolSearchFilter: deadlines.searchQuery | orderBy:deadlines.sortType:deadlines.sortReverse">
                <td>
                    <h4 class="ui header">
                        <img ng-src="{{deadline.icon}}" class="ui mini rounded image">

                        <div class="content">
                            {{deadline.school}}
                            <div class="sub header">{{deadline.state}}<span ng-show="deadline.state">,</span> {{deadline.country.name}}
                            </div>
                    </h4>
                </td>
                <td>{{deadline.roundOne.deadline | tzDate:$root.tz}}</td>
                <td>{{deadline.roundTwo.deadline | tzDate:$root.tz}}</td>
                <td>{{deadline.roundThree.deadline | tzDate:$root.tz}}</td>
                <td>{{deadline.roundFour.deadline | tzDate:$root.tz}}</td>
                <td>
                    <div class="ui animated fade teal button" tabindex="0" ng-click="deadlines.addSchool(deadline)" ng-show="authorized" ng-hide="deadlines.checkExistance(deadline._id)">
                        <div class="visible content"><i class="add icon"></i></div>
                        <div class="hidden content">
                            Add
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="deadline-uni-details-modal ui large modal">
    <i class="close icon"></i>

    <h2 class="ui header">
        <img src="{{deadlines.selectedSchool.icon}}">

        <div class="content">
            {{deadlines.selectedSchool.school}} This is test name
            <div class="sub header">{{deadlines.selectedSchool.address}}</div>
        </div>
    </h2>

    <div class="content">
        <div class="description">
            <div class="ui four cards">

                <div class="card">
                    <div class="content">
                        <div class="header">Round 1</div>
                        <div class="description">
                            {{deadlines.selectedSchool.roundOne.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                        </div>
                    </div>
                    <div class="ui bottom attached button" ng-click="deadlines.selectRound(1)" ng-class="{'positive': deadlines.isSelected(1)}">
                        <i class="icon" ng-class="{'bookmark': !deadlines.isSelected(1), 'checkmark': deadlines.isSelected(1)}"></i>
                        Add to Watch List
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="header">Round 2</div>
                        <div class="description">
                            {{deadlines.selectedSchool.roundTwo.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                        </div>
                    </div>
                    <div class="ui bottom attached button" ng-click="deadlines.selectRound(2)" ng-class="{'positive': deadlines.isSelected(2)}">
                        <i class="icon" ng-class="{'bookmark': !deadlines.isSelected(2), 'checkmark': deadlines.isSelected(2)}"></i>
                        Add to Watch List
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="header">Round 3</div>
                        <div class="description">
                            {{deadlines.selectedSchool.roundThree.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                        </div>
                    </div>
                    <div class="ui bottom attached button" ng-click="deadlines.selectRound(3)" ng-class="{'positive': deadlines.isSelected(3)}">
                        <i class="icon" ng-class="{'bookmark': !deadlines.isSelected(3), 'checkmark': deadlines.isSelected(3)}"></i>
                        Add to Watch List
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="header">Round 4</div>
                        <div class="description">
                            {{deadlines.selectedSchool.roundFour.deadline | date:"MMM dd, yyyy hh:mma Z"}}
                        </div>
                    </div>
                    <div class="ui bottom attached button" ng-click="deadlines.selectRound(4)" ng-class="{'positive': deadlines.isSelected(4)}">
                        <i class="icon" ng-class="{'bookmark': !deadlines.isSelected(4), 'checkmark': deadlines.isSelected(4)}"></i>
                        Add to Watch List
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>

        <div class="ui positive right labeled icon button" ng-class="{'disabled': !deadlines.selectedRound}">
            <i class="add icon"></i>
            Add
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown();
</script>
