#ui-datepicker-div {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);

    .ui-widget-header {
        padding: 10px;
        border-bottom: 1px solid lightgrey;

        a span {
            border: 1px solid lightslategray;
            padding: 5px 18px;
            border-radius: 5px;
            cursor: pointer;
        }

        .ui-datepicker-title {
            padding: 5px 0;
            text-align: center;
        }

        .ui-datepicker-prev {
            float: left;
        }
        .ui-datepicker-next {
            float: right;
        }
    }

    table {
        thead {
            border-bottom: 2px solid lightgrey;
        }
        tbody {
            border-bottom: 1px solid lightgrey;
        }

    }

    .ui-datepicker-calendar {
        margin: 13px;
        th, td {
            padding: 10px;
        }
    }

    .ui-timepicker-div {
        padding: 0 17px;
    }

    .ui-datepicker-buttonpane {
        float: right;
    }
    .ui-datepicker-buttonpane button {
        cursor: pointer;
        display: inline-block;
        min-height: 1em;
        outline: 0;
        border: none;
        vertical-align: baseline;
        background: #e0e1e2;
        color: rgba(0, 0, 0, .6);
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        margin: 0 .5em .5em 0;
        padding: .78571429em 1.5em;
        text-transform: none;
        text-shadow: none;
        font-weight: 700;
        line-height: 1em;
        font-style: normal;
        text-align: center;
        text-decoration: none;
        border-radius: .28571429rem;
        box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
        -webkit-user-select: none;
    }

    .ui-state-active {
        color: white;
        background-color: #4183c4;
        padding: 5px;
        border-radius: 5px;
    }

}

