<div class="ui segment">
    <div class="ui form" id="work-experience-form">
        <div class="two fields">
            <div class="field">
                <label>Total Undergraduate CGPA</label>
                <input type="number" name="total-score" ng-model="edu.education.obtCgpa">
            </div>
            <div class="field">
                <label>Obtained Undergraduate CGPA</label>
                <input type="number" name="total-score" ng-model="edu.education.totalCgpa">
            </div>
        </div>
        <div class="field">
            <label>Undergraduate Major</label>
            <div class="ug-major ui selection dropdown">
                <input type="hidden" name="ug-major">
                <i class="dropdown icon"></i>
                <div class="default text">Background</div>
                <div class="menu">
                    <div class="item" ng-repeat="edu in edu.educationAreas" data-value="{{edu}}">{{edu}}</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Graduation Year</label>
            <input type="number" name="year" ng-model="edu.education.year">
        </div>
    </div>
</div>

<div class="su-submit">
    <div class="ui animated button" tabindex="0" ng-click="edu.actionHandler('back')">
        <div class="visible content">Save & Back</div>
        <div class="hidden content">
            <i class="left arrow icon"></i>
        </div>
    </div>

    <div class="ui fade animated black button" tabindex="0" ng-click="edu.actionHandler()">
        <div class="visible content">Skip</div>
        <div class="hidden content">
            <i class="Warning icon"></i>
        </div>
    </div>

    <div class="ui animated teal button" tabindex="0" ng-click="edu.actionHandler('next')">
        <div class="visible content">Save & Next</div>
        <div class="hidden content">
            <i class="right arrow icon"></i>
        </div>
    </div>
</div>
