<div class="step-2-row">
    <div class="step-2-links">

        <div class="ui vertical steps">
            <div class="step" ui-sref="su-student-profile" ng-class="{'active': su.state.includes('su-student-profile')}">
                <div class="content">
                    <div class="title">Student Profile</div>
                </div>
            </div>
            <div class="step" ui-sref="su-work-experience" ng-class="{'active': su.state.includes('su-work-experience')}">
                <div class="content">
                    <div class="title">Work Experience</div>
                </div>
            </div>
            <div class="step" ui-sref="su-education" ng-class="{'active': su.state.includes('su-education')}">
                <div class="content">
                    <div class="title">Education</div>
                </div>
            </div>
        </div>

    </div>
    <div class="step-2-content">
        <div ui-view="signup-inner-steps"></div>
    </div>
</div>