<form ng-submit="sp.addStudentProfile()">


    <div class="ui styled fluid accordion">
        <div class="title active">
            <i class="dropdown icon"></i>
            GMAT
        </div>
        <div class="content active">
            <div class="transition visible">
                <div class="ui form" id="gat-form">
                    <div class="field">
                        <label>Total Score</label>
                        <input type="number" name="total-score" placeholder="Total Score" ng-model="sp.studentProfile.gat.total">
                    </div>
                    <div class="field">
                        <label>Quantitative</label>
                        <input type="number" name="quantitative" placeholder="Quantitative" ng-model="sp.studentProfile.gat.quantitative">
                    </div>
                    <div class="field">
                        <label>Analytical Writing</label>
                        <input type="number" name="analytical-writing" placeholder="Analytical Writing"  ng-model="sp.studentProfile.gat.analyticalWriting">
                    </div>
                    <div class="field">
                        <label>Date Taken</label>
                        <input type="date" name="date-taken" placeholder="Date" ng-model="sp.studentProfile.gat.dateTaken">
                    </div>
                </div>

            </div>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            GRE
        </div>
        <div class="content">
            <div class="transition visible">
                <div class="ui form" id="gre-form">
                    <div class="field">
                        <label>Total Score</label>
                        <input type="number" name="total-score" placeholder="Total Score" ng-model="sp.studentProfile.gre.total">
                    </div>
                    <div class="field">
                        <label>Quantitative</label>
                        <input type="number" name="quantitative" placeholder="Quantitative" ng-model="sp.studentProfile.gre.quantitative">
                    </div>
                    <div class="field">
                        <label>Analytical Writing</label>
                        <input type="number" name="analytical-writing" placeholder="Analytical Writing" ng-model="sp.studentProfile.gre.analyticalWriting">
                    </div>
                    <div class="field">
                        <label>Date Taken</label>
                        <input type="date" name="date-taken" placeholder="Date"  ng-model="sp.studentProfile.gre.dateTaken">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="su-submit">
        <div class="ui fade animated black button" tabindex="0" ui-sref="su-work-experience">
            <div class="visible content">Skip</div>
            <div class="hidden content">
                <i class="Warning icon"></i>
            </div>
        </div>

        <!--  ui-sref="su-work-experience" -->

        <button class="ui animated teal button" tabindex="0" ng-click="sp.addStudentProfile()">
            <div class="visible content" ng-class="{'loading': isLoading}">Save & Next</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
    </div>
</form>
<script>
    $('.ui.accordion').accordion();
</script>