<div class="ui segment">
    <div class="ui form" id="work-experience-form">
        <div class="field">
            <label>Duration</label>
            <input type="number" name="duration" placeholder="Months" ng-model="we.workExperience.duration">
        </div>
        <div class="field">
            <label>Pre-MBA Industry</label>
            <div class="pre ui selection dropdown">
                <input type="hidden" name="pre-mba" ng-model="we.workExperience.pre_mba">
                <i class="dropdown icon"></i>
                <div class="default text">Background</div>
                <div class="menu">
                    <div class="item" ng-repeat="preMBA in we.industries" data-value="{{preMBA}}">{{preMBA}}</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Post-MBA Industry</label>
            <div class="post ui selection dropdown">
                <input type="hidden" name="post-mba" ng-model="we.workExperience.post_mba">
                <i class="dropdown icon"></i>
                <div class="default text">Background</div>
                <div class="menu">
                    <div class="item" ng-repeat="postMBA in we.industries" data-value="{{postMBA}}">{{postMBA}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="su-submit">
    <!-- su-student-profile-->
    <div class="ui animated button" tabindex="0" ng-click="we.actionHandler('back')">
        <div class="visible content">Save & Back</div>
        <div class="hidden content">
            <i class="left arrow icon"></i>
        </div>
    </div>

    <div class="ui fade animated black button" tabindex="0" ui-sref="su-education">
        <div class="visible content">Skip</div>
        <div class="hidden content">
            <i class="Warning icon"></i>
        </div>
    </div>
    <!-- su-education -->
    <div class="ui animated teal button" tabindex="0" ng-click="we.actionHandler('next')">
        <div class="visible content">Save & Next</div>
        <div class="hidden content">
            <i class="right arrow icon"></i>
        </div>
    </div>
</div>
