.sign-up-container {
    width: 60%;
    margin: 3% auto;

    .content {
        font-family: $roboto-slab;
    }

    form {
        padding: 10px;
    }

    .step {
        cursor: pointer;
    }

    .step-2-row {
        @include row();
        .step-2-links {
            @include span-columns(3);
        }
        .step-2-content {
            @include span-columns(9);
        }

    }

    .su-submit {
        @include margin(10px null null);
        float: right;
    }
}