<div class="sign-up-container">
    <h2 class="ui header">
        <i class="add user icon"></i>
        <div class="content">
            Signup
        </div>
    </h2>

    <div class="ui attached segment">
        <div ui-view="signup-steps"></div>
    </div>
    <div class="ui two bottom attached steps">

        <div class="step" ng-class="{'active': su.state.includes('step1'), 'disabled': !su.state.includes('step1')}">
            <i class="payment icon"></i>
            <div class="content">
                <div class="title">Credentials</div>
                <div class="description">Tell us about you</div>
            </div>
        </div>

        <div class="step" ng-class="{'active': su.state.includes('step2'), 'disabled': !su.state.includes('step2')}">
            <i class="info icon"></i>
            <div class="content">
                <div class="title">Your History</div>
                <div class="description">Share your Experiences</div>
            </div>
        </div>

    </div>
</div>