<div class="ui stacked segment">
    <!-- Search Query -->
    <h2 class="ui dividing header">
        <div class="content">
            Schools &nbsp <button class="ui tiny right floated button" ng-click="adminSchools.showSchool('add')">Add Now?</button>
        </div>
    </h2>
    <button class="ui tiny button" ng-click="adminSchools.showCSV()" style="position: absolute; top: 8px; right: 15px;">Upload CSV</button>
    <div class="ui left icon fluid action input">
        <input type="text" placeholder="Search Universities by Name or Location" ng-model="adminSchools.searchQuery">
        <i class="search icon"></i>
        <button class="ui black button">Search</button>
    </div>
    <!-- Search Results -->
    <table class="ui grey selectable table">
        <thead>
            <tr>
                <th class="seven wide">School</th>
                <th class="two wide"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="school in adminSchools.allSchools | schoolSearchFilter: adminSchools.searchQuery">
                <td>
                    <h4 class="ui header">
                    <img ng-src="{{school.icon}}" class="ui mini rounded image">
                    <div class="content">
                        {{school.school}}
                        <div class="sub header">{{school.state}}<span ng-show="school.state">,</span> {{school.country.name}}
                        </div>
                    </div>
                    </h4>
                </td>
                <td class="right aligned">
                    <div class="ui animated fade teal button" tabindex="0" ng-click="adminSchools.showSchool('edit', school)">
                        <div class="visible content"><i class="write icon"></i></div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui animated fade negative button" tabindex="0" ng-click="adminSchools.delete(school._id)">
                        <div class="visible content"><i class="delete icon"></i></div>
                        <div class="hidden content">
                            Delete
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Add Modal -->
<div class="add-modal ui modal">
    <div class="header">
        {{adminSchools.mode}} School
    </div>

    <div class="content">
        <div class="ui secondary  menu">
            <a class="item" ng-click="adminSchools.activeTab = 'school'" ng-class="{'active': adminSchools.activeTab == 'school'}">
                School Details
            </a>
            <a class="item" ng-click="adminSchools.activeTab = 'cp'" ng-class="{'active': adminSchools.activeTab == 'cp'}">
                Class Profile
            </a>
            <!--<a class="item" ng-click="adminSchools.activeTab = 'iu'" ng-class="{'active': adminSchools.activeTab == 'iu'}">-->
                <!--Badge Icon-->
            <!--</a>-->
        </div>
        <!-- School Details editor -->
        <div ng-show="adminSchools.activeTab == 'school'">
            <form class="ui form">
                <!-- icon -->
                <h4 class="ui dividing header">
                    School Icon
                </h4>

                <div class="ui grid" flow-init flow-name="adminSchools.flowFile">
                    <div class="two wide column">
                        <div class="ui small image" ng-hide="$flow.files.length || adminSchools.imageExistance">
                            <svg width="50" height="50">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png" x="0" y="0" width="100%" height="100%"></image>
                            </svg>
                        </div>
                        <div class="ui small image" ng-show="adminSchools.imageExistance" ng-hide="$flow.files.length">
                            <img ng-src="{{adminSchools.selectedSchool.icon}}" />
                        </div>

                        <div ng-show="$flow.files.length" class="ui small image">
                            <img flow-img="$flow.files[0]"/>
                        </div>
                    </div>
                    <div class="fourteen wide column">
                        <div>
                            <button flow-btn flow-attrs="{accept:'image/*'}" ng-hide="$flow.files.length || adminSchools.imageExistance" class="ui small black button">Select Image</button>
                            <button flow-btn flow-attrs="{accept:'image/*'}" ng-show="adminSchools.imageExistance" class="ui small black button">Change Image</button>
                            <a href="#" class="ui small negative button" ng-show="$flow.files.length"
                               ng-click="$flow.cancel()">
                                cancel
                            </a>
                        </div>
                        <p style="margin-top: 5px;">
                            Only PNG,GIF,JPG files allowed. 50x50 in pixels
                        </p>
                    </div>
                </div>
                
                <!-- Basic Info -->
                <h4 class="ui dividing header">
                    Basic Info
                </h4>
                <div class="required field">
                    <label>School Name</label>
                    <input type="text" name="school" placeholder="School Name" ng-model="adminSchools.selectedSchool.school">
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Website Address</label>
                        <input type="text" name="school" placeholder="School Name" ng-model="adminSchools.selectedSchool.site">
                    </div>

                    <div class="field">
                        <label>Online Application Link</label>
                        <input type="text" name="school" placeholder="School Name" ng-model="adminSchools.selectedSchool.application_link">
                    </div>

                </div>

                <div class="two fields">
                    <!-- Country Selection adminSchools.selectedSchool.country.name/.code -->
                    <div class="required field">
                        <label>Country</label>
                        <div class="country ui fluid search selection dropdown">
                            <input type="hidden" name="country">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Country</div>
                            <div class="menu">
                                <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                                <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                                <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                                <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                                <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
                                <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
                                <div class="item" data-value="ao"><i class="ao flag"></i>Angola</div>
                                <div class="item" data-value="ai"><i class="ai flag"></i>Anguilla</div>
                                <div class="item" data-value="ag"><i class="ag flag"></i>Antigua</div>
                                <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
                                <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
                                <div class="item" data-value="aw"><i class="aw flag"></i>Aruba</div>
                                <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                                <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                                <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
                                <div class="item" data-value="bs"><i class="bs flag"></i>Bahamas</div>
                                <div class="item" data-value="bh"><i class="bh flag"></i>Bahrain</div>
                                <div class="item" data-value="bd"><i class="bd flag"></i>Bangladesh</div>
                                <div class="item" data-value="bb"><i class="bb flag"></i>Barbados</div>
                                <div class="item" data-value="by"><i class="by flag"></i>Belarus</div>
                                <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                                <div class="item" data-value="bz"><i class="bz flag"></i>Belize</div>
                                <div class="item" data-value="bj"><i class="bj flag"></i>Benin</div>
                                <div class="item" data-value="bm"><i class="bm flag"></i>Bermuda</div>
                                <div class="item" data-value="bt"><i class="bt flag"></i>Bhutan</div>
                                <div class="item" data-value="bo"><i class="bo flag"></i>Bolivia</div>
                                <div class="item" data-value="ba"><i class="ba flag"></i>Bosnia</div>
                                <div class="item" data-value="bw"><i class="bw flag"></i>Botswana</div>
                                <div class="item" data-value="bv"><i class="bv flag"></i>Bouvet Island</div>
                                <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                                <div class="item" data-value="vg"><i class="vg flag"></i>British Virgin Islands</div>
                                <div class="item" data-value="bn"><i class="bn flag"></i>Brunei</div>
                                <div class="item" data-value="bg"><i class="bg flag"></i>Bulgaria</div>
                                <div class="item" data-value="bf"><i class="bf flag"></i>Burkina Faso</div>
                                <div class="item" data-value="ar"><i class="ar flag"></i>Burma</div>
                                <div class="item" data-value="bi"><i class="bi flag"></i>Burundi</div>
                                <div class="item" data-value="tc"><i class="tc flag"></i>Caicos Islands</div>
                                <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
                                <div class="item" data-value="cm"><i class="cm flag"></i>Cameroon</div>
                                <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                                <div class="item" data-value="cv"><i class="cv flag"></i>Cape Verde</div>
                                <div class="item" data-value="ky"><i class="ky flag"></i>Cayman Islands</div>
                                <div class="item" data-value="cf"><i class="cf flag"></i>Central African Republic</div>
                                <div class="item" data-value="td"><i class="td flag"></i>Chad</div>
                                <div class="item" data-value="cl"><i class="cl flag"></i>Chile</div>
                                <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
                                <div class="item" data-value="cx"><i class="cx flag"></i>Christmas Island</div>
                                <div class="item" data-value="cc"><i class="cc flag"></i>Cocos Islands</div>
                                <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                                <div class="item" data-value="km"><i class="km flag"></i>Comoros</div>
                                <div class="item" data-value="cg"><i class="cg flag"></i>Congo Brazzaville</div>
                                <div class="item" data-value="cd"><i class="cd flag"></i>Congo</div>
                                <div class="item" data-value="ck"><i class="ck flag"></i>Cook Islands</div>
                                <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
                                <div class="item" data-value="ci"><i class="ci flag"></i>Cote Divoire</div>
                                <div class="item" data-value="hr"><i class="hr flag"></i>Croatia</div>
                                <div class="item" data-value="cu"><i class="cu flag"></i>Cuba</div>
                                <div class="item" data-value="cy"><i class="cy flag"></i>Cyprus</div>
                                <div class="item" data-value="cz"><i class="cz flag"></i>Czech Republic</div>
                                <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                                <div class="item" data-value="dj"><i class="dj flag"></i>Djibouti</div>
                                <div class="item" data-value="dm"><i class="dm flag"></i>Dominica</div>
                                <div class="item" data-value="do"><i class="do flag"></i>Dominican Republic</div>
                                <div class="item" data-value="ec"><i class="ec flag"></i>Ecuador</div>
                                <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                                <div class="item" data-value="sv"><i class="sv flag"></i>El Salvador</div>
                                <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                                <div class="item" data-value="gq"><i class="gq flag"></i>Equatorial Guinea</div>
                                <div class="item" data-value="er"><i class="er flag"></i>Eritrea</div>
                                <div class="item" data-value="ee"><i class="ee flag"></i>Estonia</div>
                                <div class="item" data-value="et"><i class="et flag"></i>Ethiopia</div>
                                <div class="item" data-value="eu"><i class="eu flag"></i>European Union</div>
                                <div class="item" data-value="fk"><i class="fk flag"></i>Falkland Islands</div>
                                <div class="item" data-value="fo"><i class="fo flag"></i>Faroe Islands</div>
                                <div class="item" data-value="fj"><i class="fj flag"></i>Fiji</div>
                                <div class="item" data-value="fi"><i class="fi flag"></i>Finland</div>
                                <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
                                <div class="item" data-value="gf"><i class="gf flag"></i>French Guiana</div>
                                <div class="item" data-value="pf"><i class="pf flag"></i>French Polynesia</div>
                                <div class="item" data-value="tf"><i class="tf flag"></i>French Territories</div>
                                <div class="item" data-value="ga"><i class="ga flag"></i>Gabon</div>
                                <div class="item" data-value="gm"><i class="gm flag"></i>Gambia</div>
                                <div class="item" data-value="ge"><i class="ge flag"></i>Georgia</div>
                                <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
                                <div class="item" data-value="gh"><i class="gh flag"></i>Ghana</div>
                                <div class="item" data-value="gi"><i class="gi flag"></i>Gibraltar</div>
                                <div class="item" data-value="gr"><i class="gr flag"></i>Greece</div>
                                <div class="item" data-value="gl"><i class="gl flag"></i>Greenland</div>
                                <div class="item" data-value="gd"><i class="gd flag"></i>Grenada</div>
                                <div class="item" data-value="gp"><i class="gp flag"></i>Guadeloupe</div>
                                <div class="item" data-value="gu"><i class="gu flag"></i>Guam</div>
                                <div class="item" data-value="gt"><i class="gt flag"></i>Guatemala</div>
                                <div class="item" data-value="gw"><i class="gw flag"></i>Guinea-Bissau</div>
                                <div class="item" data-value="gn"><i class="gn flag"></i>Guinea</div>
                                <div class="item" data-value="gy"><i class="gy flag"></i>Guyana</div>
                                <div class="item" data-value="ht"><i class="ht flag"></i>Haiti</div>
                                <div class="item" data-value="hm"><i class="hm flag"></i>Heard Island</div>
                                <div class="item" data-value="hn"><i class="hn flag"></i>Honduras</div>
                                <div class="item" data-value="hk"><i class="hk flag"></i>Hong Kong</div>
                                <div class="item" data-value="hu"><i class="hu flag"></i>Hungary</div>
                                <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
                                <div class="item" data-value="in"><i class="in flag"></i>India</div>
                                <div class="item" data-value="io"><i class="io flag"></i>Indian Ocean Territory</div>
                                <div class="item" data-value="id"><i class="id flag"></i>Indonesia</div>
                                <div class="item" data-value="ir"><i class="ir flag"></i>Iran</div>
                                <div class="item" data-value="iq"><i class="iq flag"></i>Iraq</div>
                                <div class="item" data-value="ie"><i class="ie flag"></i>Ireland</div>
                                <div class="item" data-value="il"><i class="il flag"></i>Israel</div>
                                <div class="item" data-value="it"><i class="it flag"></i>Italy</div>
                                <div class="item" data-value="jm"><i class="jm flag"></i>Jamaica</div>
                                <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                                <div class="item" data-value="jo"><i class="jo flag"></i>Jordan</div>
                                <div class="item" data-value="kz"><i class="kz flag"></i>Kazakhstan</div>
                                <div class="item" data-value="ke"><i class="ke flag"></i>Kenya</div>
                                <div class="item" data-value="ki"><i class="ki flag"></i>Kiribati</div>
                                <div class="item" data-value="kw"><i class="kw flag"></i>Kuwait</div>
                                <div class="item" data-value="kg"><i class="kg flag"></i>Kyrgyzstan</div>
                                <div class="item" data-value="la"><i class="la flag"></i>Laos</div>
                                <div class="item" data-value="lv"><i class="lv flag"></i>Latvia</div>
                                <div class="item" data-value="lb"><i class="lb flag"></i>Lebanon</div>
                                <div class="item" data-value="ls"><i class="ls flag"></i>Lesotho</div>
                                <div class="item" data-value="lr"><i class="lr flag"></i>Liberia</div>
                                <div class="item" data-value="ly"><i class="ly flag"></i>Libya</div>
                                <div class="item" data-value="li"><i class="li flag"></i>Liechtenstein</div>
                                <div class="item" data-value="lt"><i class="lt flag"></i>Lithuania</div>
                                <div class="item" data-value="lu"><i class="lu flag"></i>Luxembourg</div>
                                <div class="item" data-value="mo"><i class="mo flag"></i>Macau</div>
                                <div class="item" data-value="mk"><i class="mk flag"></i>Macedonia</div>
                                <div class="item" data-value="mg"><i class="mg flag"></i>Madagascar</div>
                                <div class="item" data-value="mw"><i class="mw flag"></i>Malawi</div>
                                <div class="item" data-value="my"><i class="my flag"></i>Malaysia</div>
                                <div class="item" data-value="mv"><i class="mv flag"></i>Maldives</div>
                                <div class="item" data-value="ml"><i class="ml flag"></i>Mali</div>
                                <div class="item" data-value="mt"><i class="mt flag"></i>Malta</div>
                                <div class="item" data-value="mh"><i class="mh flag"></i>Marshall Islands</div>
                                <div class="item" data-value="mq"><i class="mq flag"></i>Martinique</div>
                                <div class="item" data-value="mr"><i class="mr flag"></i>Mauritania</div>
                                <div class="item" data-value="mu"><i class="mu flag"></i>Mauritius</div>
                                <div class="item" data-value="yt"><i class="yt flag"></i>Mayotte</div>
                                <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
                                <div class="item" data-value="fm"><i class="fm flag"></i>Micronesia</div>
                                <div class="item" data-value="md"><i class="md flag"></i>Moldova</div>
                                <div class="item" data-value="mc"><i class="mc flag"></i>Monaco</div>
                                <div class="item" data-value="mn"><i class="mn flag"></i>Mongolia</div>
                                <div class="item" data-value="me"><i class="me flag"></i>Montenegro</div>
                                <div class="item" data-value="ms"><i class="ms flag"></i>Montserrat</div>
                                <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
                                <div class="item" data-value="mz"><i class="mz flag"></i>Mozambique</div>
                                <div class="item" data-value="na"><i class="na flag"></i>Namibia</div>
                                <div class="item" data-value="nr"><i class="nr flag"></i>Nauru</div>
                                <div class="item" data-value="np"><i class="np flag"></i>Nepal</div>
                                <div class="item" data-value="an"><i class="an flag"></i>Netherlands Antilles</div>
                                <div class="item" data-value="nl"><i class="nl flag"></i>Netherlands</div>
                                <div class="item" data-value="nc"><i class="nc flag"></i>New Caledonia</div>
                                <div class="item" data-value="pg"><i class="pg flag"></i>New Guinea</div>
                                <div class="item" data-value="nz"><i class="nz flag"></i>New Zealand</div>
                                <div class="item" data-value="ni"><i class="ni flag"></i>Nicaragua</div>
                                <div class="item" data-value="ne"><i class="ne flag"></i>Niger</div>
                                <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
                                <div class="item" data-value="nu"><i class="nu flag"></i>Niue</div>
                                <div class="item" data-value="nf"><i class="nf flag"></i>Norfolk Island</div>
                                <div class="item" data-value="kp"><i class="kp flag"></i>North Korea</div>
                                <div class="item" data-value="mp"><i class="mp flag"></i>Northern Mariana Islands</div>
                                <div class="item" data-value="no"><i class="no flag"></i>Norway</div>
                                <div class="item" data-value="om"><i class="om flag"></i>Oman</div>
                                <div class="item" data-value="pk"><i class="pk flag"></i>Pakistan</div>
                                <div class="item" data-value="pw"><i class="pw flag"></i>Palau</div>
                                <div class="item" data-value="ps"><i class="ps flag"></i>Palestine</div>
                                <div class="item" data-value="pa"><i class="pa flag"></i>Panama</div>
                                <div class="item" data-value="py"><i class="py flag"></i>Paraguay</div>
                                <div class="item" data-value="pe"><i class="pe flag"></i>Peru</div>
                                <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                                <div class="item" data-value="pn"><i class="pn flag"></i>Pitcairn Islands</div>
                                <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div>
                                <div class="item" data-value="pt"><i class="pt flag"></i>Portugal</div>
                                <div class="item" data-value="pr"><i class="pr flag"></i>Puerto Rico</div>
                                <div class="item" data-value="qa"><i class="qa flag"></i>Qatar</div>
                                <div class="item" data-value="re"><i class="re flag"></i>Reunion</div>
                                <div class="item" data-value="ro"><i class="ro flag"></i>Romania</div>
                                <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
                                <div class="item" data-value="rw"><i class="rw flag"></i>Rwanda</div>
                                <div class="item" data-value="sh"><i class="sh flag"></i>Saint Helena</div>
                                <div class="item" data-value="kn"><i class="kn flag"></i>Saint Kitts and Nevis</div>
                                <div class="item" data-value="lc"><i class="lc flag"></i>Saint Lucia</div>
                                <div class="item" data-value="pm"><i class="pm flag"></i>Saint Pierre</div>
                                <div class="item" data-value="vc"><i class="vc flag"></i>Saint Vincent</div>
                                <div class="item" data-value="ws"><i class="ws flag"></i>Samoa</div>
                                <div class="item" data-value="sm"><i class="sm flag"></i>San Marino</div>
                                <div class="item" data-value="gs"><i class="gs flag"></i>Sandwich Islands</div>
                                <div class="item" data-value="st"><i class="st flag"></i>Sao Tome</div>
                                <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
                                <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
                                <div class="item" data-value="cs"><i class="cs flag"></i>Serbia</div>
                                <div class="item" data-value="rs"><i class="rs flag"></i>Serbia</div>
                                <div class="item" data-value="sc"><i class="sc flag"></i>Seychelles</div>
                                <div class="item" data-value="sl"><i class="sl flag"></i>Sierra Leone</div>
                                <div class="item" data-value="sg"><i class="sg flag"></i>Singapore</div>
                                <div class="item" data-value="sk"><i class="sk flag"></i>Slovakia</div>
                                <div class="item" data-value="si"><i class="si flag"></i>Slovenia</div>
                                <div class="item" data-value="sb"><i class="sb flag"></i>Solomon Islands</div>
                                <div class="item" data-value="so"><i class="so flag"></i>Somalia</div>
                                <div class="item" data-value="za"><i class="za flag"></i>South Africa</div>
                                <div class="item" data-value="kr"><i class="kr flag"></i>South Korea</div>
                                <div class="item" data-value="es"><i class="es flag"></i>Spain</div>
                                <div class="item" data-value="lk"><i class="lk flag"></i>Sri Lanka</div>
                                <div class="item" data-value="sd"><i class="sd flag"></i>Sudan</div>
                                <div class="item" data-value="sr"><i class="sr flag"></i>Suriname</div>
                                <div class="item" data-value="sj"><i class="sj flag"></i>Svalbard</div>
                                <div class="item" data-value="sz"><i class="sz flag"></i>Swaziland</div>
                                <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
                                <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
                                <div class="item" data-value="sy"><i class="sy flag"></i>Syria</div>
                                <div class="item" data-value="tw"><i class="tw flag"></i>Taiwan</div>
                                <div class="item" data-value="tj"><i class="tj flag"></i>Tajikistan</div>
                                <div class="item" data-value="tz"><i class="tz flag"></i>Tanzania</div>
                                <div class="item" data-value="th"><i class="th flag"></i>Thailand</div>
                                <div class="item" data-value="tl"><i class="tl flag"></i>Timorleste</div>
                                <div class="item" data-value="tg"><i class="tg flag"></i>Togo</div>
                                <div class="item" data-value="tk"><i class="tk flag"></i>Tokelau</div>
                                <div class="item" data-value="to"><i class="to flag"></i>Tonga</div>
                                <div class="item" data-value="tt"><i class="tt flag"></i>Trinidad</div>
                                <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
                                <div class="item" data-value="tr"><i class="tr flag"></i>Turkey</div>
                                <div class="item" data-value="tm"><i class="tm flag"></i>Turkmenistan</div>
                                <div class="item" data-value="tv"><i class="tv flag"></i>Tuvalu</div>
                                <div class="item" data-value="ug"><i class="ug flag"></i>Uganda</div>
                                <div class="item" data-value="ua"><i class="ua flag"></i>Ukraine</div>
                                <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
                                <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                                <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
                                <div class="item" data-value="um"><i class="um flag"></i>Us Minor Islands</div>
                                <div class="item" data-value="vi"><i class="vi flag"></i>Us Virgin Islands</div>
                                <div class="item" data-value="uz"><i class="uz flag"></i>Uzbekistan</div>
                                <div class="item" data-value="vu"><i class="vu flag"></i>Vanuatu</div>
                                <div class="item" data-value="va"><i class="va flag"></i>Vatican City</div>
                                <div class="item" data-value="ve"><i class="ve flag"></i>Venezuela</div>
                                <div class="item" data-value="vn"><i class="vn flag"></i>Vietnam</div>
                                <div class="item" data-value="wf"><i class="wf flag"></i>Wallis and Futuna</div>
                                <div class="item" data-value="eh"><i class="eh flag"></i>Western Sahara</div>
                                <div class="item" data-value="ye"><i class="ye flag"></i>Yemen</div>
                                <div class="item" data-value="zm"><i class="zm flag"></i>Zambia</div>
                                <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
                            </div>
                        </div>
                    </div>
                    <!-- State Selection -->
                    <div class="required field">
                        <label>State </label>
                        <div class="state ui fluid search selection dropdown" ng-class="{'disabled': !adminSchools.isUS}">
                            <input type="hidden" name="state">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select State</div>
                            <div class="menu">
                                <div class="item" data-value="AL">Albama</div>
                                <div class="item" data-value="AK">Alaska</div>
                                <div class="item" data-value="AZ">Arizona</div>
                                <div class="item" data-value="AR">Arkansas</div>
                                <div class="item" data-value="CA">California</div>
                                <div class="item" data-value="CO">Colorado</div>
                                <div class="item" data-value="CT">Connecticut</div>
                                <div class="item" data-value="DE">Delaware</div>
                                <div class="item" data-value="DC">District Of Columbia</div>
                                <div class="item" data-value="FL">Florida</div>
                                <div class="item" data-value="GA">Georgia</div>
                                <div class="item" data-value="HI">Hawaii</div>
                                <div class="item" data-value="ID">Idaho</div>
                                <div class="item" data-value="IL">Illinois</div>
                                <div class="item" data-value="IN">Indiana</div>
                                <div class="item" data-value="IA">Iowa</div>
                                <div class="item" data-value="KS">Kansas</div>
                                <div class="item" data-value="KY">Kentucky</div>
                                <div class="item" data-value="LA">Louisiana</div>
                                <div class="item" data-value="ME">Maine</div>
                                <div class="item" data-value="MD">Maryland</div>
                                <div class="item" data-value="MA">Massachusetts</div>
                                <div class="item" data-value="MI">Michigan</div>
                                <div class="item" data-value="MN">Minnesota</div>
                                <div class="item" data-value="MS">Mississippi</div>
                                <div class="item" data-value="MO">Missouri</div>
                                <div class="item" data-value="MT">Montana</div>
                                <div class="item" data-value="NE">Nebraska</div>
                                <div class="item" data-value="NV">Nevada</div>
                                <div class="item" data-value="NH">New Hampshire</div>
                                <div class="item" data-value="NJ">New Jersey</div>
                                <div class="item" data-value="NM">New Mexico</div>
                                <div class="item" data-value="NY">New York</div>
                                <div class="item" data-value="NC">North Carolina</div>
                                <div class="item" data-value="ND">North Dakota</div>
                                <div class="item" data-value="OH">Ohio</div>
                                <div class="item" data-value="OK">Oklahoma</div>
                                <div class="item" data-value="OR">Oregon</div>
                                <div class="item" data-value="PA">Pennsylvania</div>
                                <div class="item" data-value="RI">Rhode Island</div>
                                <div class="item" data-value="SC">South Carolina</div>
                                <div class="item" data-value="SD">South Dakota</div>
                                <div class="item" data-value="TN">Tennessee</div>
                                <div class="item" data-value="TX">Texas</div>
                                <div class="item" data-value="UT">Utah</div>
                                <div class="item" data-value="VT">Vermont</div>
                                <div class="item" data-value="VA">Virginia</div>
                                <div class="item" data-value="WA">Washington</div>
                                <div class="item" data-value="WV">West Virginia</div>
                                <div class="item" data-value="WI">Wisconsin</div>
                                <div class="item" data-value="WY">Wyoming</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Round Info -->
                <h4 class="ui dividing header">
                    Admission Round Information
                </h4>

                <div class="two fields">
                    <div class="field">
                        <label>Early</label>
                        <input id="r1-dp" datepicker name="school" placeholder="Round 1" ng-model="adminSchools.selectedSchool.roundOne.deadline">
                    </div>
                    <div class="field">
                        <label>Round 1</label>
                        <input id="r2-dp" datepicker name="school" placeholder="Round 2" ng-model="adminSchools.selectedSchool.roundTwo.deadline">
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Round 2</label>
                        <input id="r3-dp" datepicker name="school" placeholder="Round 3" ng-model="adminSchools.selectedSchool.roundThree.deadline">
                    </div>
                    <div class="field">
                        <label>Round 3</label>
                        <input id="r4-dp" datepicker name="school" placeholder="Round 4" ng-model="adminSchools.selectedSchool.roundFour.deadline">
                    </div>
                </div>

                <h4 class="ui dividing header">
                    Notification Date for each round
                </h4>
                <div class="two fields">
                    <div class="field">
                        <label>Early</label>
                        <input id="r1n-dp" datepicker name="school" placeholder="Round 1" ng-model="adminSchools.selectedSchool.roundOne.notification">
                    </div>
                    <div class="field">
                        <label>Round 1</label>
                        <input id="r2n-dp" datepicker name="school" placeholder="Round 2" ng-model="adminSchools.selectedSchool.roundTwo.notification">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Round 2</label>
                        <input id="r3n-dp" datepicker name="school" placeholder="Round 3" ng-model="adminSchools.selectedSchool.roundThree.notification">
                    </div>
                    <div class="field">
                        <label>Round 3</label>
                        <input id="r4n-dp" datepicker name="school" placeholder="Round 4" ng-model="adminSchools.selectedSchool.roundFour.notification">
                    </div>
                </div>
                <!-- Rankings Info -->
                <h4 class="ui dividing header">
                    Rankings Information
                </h4>
                <!-- Rank Number -->
                <div class="four fields">
                    <!-- US Times -->
                    <div class="field">
                        <label>US Times</label>
                        <input type="number" name="school" placeholder="Current Rank" ng-model="adminSchools.selectedSchool.ranking.us_news.rank">
                    </div>
                    <!-- Business Week -->
                    <div class="field">
                        <label>Business Week</label>
                        <input type="number" name="school" placeholder="Current Rank" ng-model="adminSchools.selectedSchool.ranking.business_week.rank">
                    </div>

                    <!--Economist -->
                    <div class="field">
                        <label>Economist</label>
                        <input type="number" name="school" placeholder="Current Rank" ng-model="adminSchools.selectedSchool.ranking.economist.rank">
                    </div>
                    <!-- Financial Times -->
                    <div class="field">
                        <label>Financial Times</label>
                        <input type="number" name="school" placeholder="Current Rank" ng-model="adminSchools.selectedSchool.ranking.financial_times.rank">
                    </div>
                </div>

                <!-- Rank Status -->
                <div class="four fields">
                    <div class="grouped fields">
                        <!-- US Times -->
                        <label>US Times ranks status</label> <i class="help circle icon label-help"></i>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="up" name="ust-status" ng-model="adminSchools.selectedSchool.ranking.us_news.status">
                                <label>Up</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="down" name="ust-status" ng-model="adminSchools.selectedSchool.ranking.us_news.status">
                                <label>Down</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="minus" name="ust-status" ng-model="adminSchools.selectedSchool.ranking.us_news.status">
                                <label>Constant</label>
                            </div>
                        </div>
                    </div>

                    <!-- Business Week -->
                    <div class="grouped fields">
                        <label>Business Week rank status</label> <i class="help circle icon label-help"></i>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="up" name="bw-status" ng-model="adminSchools.selectedSchool.ranking.business_week.status">
                                <label>Up</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="down" name="bw-status" ng-model="adminSchools.selectedSchool.ranking.business_week.status">
                                <label>Down</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="minus" name="bw-status" ng-model="adminSchools.selectedSchool.ranking.business_week.status">
                                <label>Constant</label>
                            </div>
                        </div>

                    </div>
                    <!-- Economist -->
                    <div class="grouped fields">
                        <label>Economist rank status</label> <i class="help circle icon label-help"></i>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="up" name="eco-status" ng-model="adminSchools.selectedSchool.ranking.economist.status">
                                <label>Up</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="down" name="eco-status" ng-model="adminSchools.selectedSchool.ranking.economist.status">
                                <label>Down</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="minus" name="eco-status" ng-model="adminSchools.selectedSchool.ranking.economist.status">
                                <label>Constant</label>
                            </div>
                        </div>

                    </div>
                    <!-- Financial Times -->
                    <div class="grouped fields">
                        <label>Financial Times rank status</label> <i class="help circle icon label-help"></i>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="up" name="ft-status" ng-model="adminSchools.selectedSchool.ranking.financial_times.status">
                                <label>Up</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="down" name="ft-status" ng-model="adminSchools.selectedSchool.ranking.financial_times.status">
                                <label>Down</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="minus" name="ft-status" ng-model="adminSchools.selectedSchool.ranking.financial_times.status">
                                <label>Constant</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Essay Info -->
                <h4 class="ui dividing header">
                    Essay Details
                </h4>
                <!-- Essay List -->
                <div class="fields" ng-repeat="essay in adminSchools.selectedSchool.essays">
                    <div class="eleven wide field">
                        <label>Essay {{$index + 1}} Question?</label>
                        <input type="text" name="school" placeholder="Essay {{$index + 1}} Question" ng-model="essay.question">
                    </div>
                    <div class="three wide field">
                        <label>Word Limit</label>
                        <input type="number" name="school" placeholder="Word Count" ng-model="essay.limit">
                    </div>
                    <div class="one wide field essay-req-field">
                        <label>Required</label>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="req-1" ng-model="essay.required">
                            <label> </label>
                        </div>
                    </div>
                </div>

                <button class="ui button add-essay" ng-click="adminSchools.addEssay()">+</button>

                <div class="fields" ng-model="adminSchools.tempEssay" ng-show="adminSchools.tempEssayFlag">
                    <div class="eight wide field">
                        <label>Essay Question</label>
                        <input type="text" name="school" placeholder="Enter your Question" ng-model="adminSchools.tempEssay.question">
                    </div>
                    <div class="three wide field">
                        <label>Word Limit</label>
                        <input type="number" name="school" placeholder="Word Count" ng-model="adminSchools.tempEssay.limit">
                    </div>
                    <div class="two wide field essay-req-field">
                        <label>Required</label>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="req-1" ng-model="adminSchools.tempEssay.required">
                            <label> </label>
                        </div>
                    </div>
                    <div class="three wide field">
                        <label style="color: white">Required</label>
                        <div class="ui buttons">
                            <button class="ui negative button" ng-click="adminSchools.discardEssay()"><i class="ui icon remove"></i></button>
                            <div class="or"></div>
                            <button class="ui positive button" ng-click="adminSchools.acceptEssay()"><i class="ui icon checkmark"></i></button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <!-- Class Profile Editor -->
        <div ng-show="adminSchools.activeTab == 'cp'">
            <!-- CP -->
            <h4 class="ui dividing header">
                Class Profile
            </h4>
            <table class="ui very basic table">
                <tbody>
                    <tr ng-repeat="cp in adminSchools.selectedSchool.class_profile">
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="name" ng-model="cp.name">
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="value" ng-model="cp.value">
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="percentage" ng-model="cp.percentage">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Icon Uploader -->
        <!--<div ng-show="adminSchools.activeTab == 'iu'">-->
            <!--<div flow-init="{target:'assets/images.uni-badges/'}">-->
                <!--<div>-->
                    <!--<button flow-btn flow-attrs="{accept:'image/*'}" class="ui button">Select Image</button>-->
                    <!--<a href="#" class="btn negative button" ng-show="$flow.files.length"-->
                       <!--ng-click="$flow.cancel()">-->
                        <!--Remove-->
                    <!--</a>-->
                <!--</div>-->
                <!--<p>-->
                    <!--Only PNG,GIF,JPG files allowed. 50x50 in pixels-->
                <!--</p>-->

                <!--<div class="ui small image" ng-hide="$flow.files.length">-->
                    <!--<svg width="150" height="150">-->
                        <!--<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png" x="0" y="0" width="100%" height="100%"></image>-->
                    <!--</svg>-->
                <!--</div>-->

                <!--<div ng-show="$flow.files.length" class="ui small image">-->
                    <!--<img flow-img="$flow.files[0]"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>

    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            <span ng-show="adminSchools.mode === 'Add'">Save</span>
            <span ng-show="adminSchools.mode === 'Edit'">Update</span>
            <i class="checkmark icon"></i>
        </div>
    </div>

</div>

<!-- Delete Modal -->
<div class="delete-modal ui small modal">
    <div class="header">
        Delete Bookmark
    </div>
    <div class="content">
        <p>Are you sure you want to delete Complete School</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- delete modal end -->
<div class="csv ui small modal">
    <div class="header">
        CSV Uploader
    </div>
    <div class="content">
        <ng-csv-import content="csv.content"
                       header="csv.header"
                       separator="csv.separator"
                       result="csv.result"></ng-csv-import>

        <table ng-repeat="s in csv.result">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in s">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>